# Auto detect text files and perform LF normalization
* text=auto
LOGICA DE PROGRAMACAO/LOGICA.pdf
LOGICA DE PROGRAMACAO/Operação aritmética.pdf
LOGICA DE PROGRAMACAO/SWITCH CASE.pdf
LOGICA DE PROGRAMACAO/Tabela verdade.pdf