# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
projetos-downloads/LOGICA DE PROGRAMACAO/Aula 4.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/ALG.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/Conceitos importantes.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/ESTRUTURA CONDICIONAL ENCANDEADA.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/ESTRUTURA DE REPETIÇÃO.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/Estrutura de repetição FOR.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/ex pyton.pptx
projetos-downloads/LOGICA DE PROGRAMACAO/IF ELSE.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/lista de exercicios 3.docx
projetos-downloads/LOGICA DE PROGRAMACAO/lista de exercicios n2.docx
projetos-downloads/LOGICA DE PROGRAMACAO/LOGICA.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/Operação aritmética.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/SWITCH CASE.pdf
projetos-downloads/LOGICA DE PROGRAMACAO/Tabela verdade.pdf
